active
bin/
checkversion*.html
config/
.coverage
develop-eggs/
doc/
htmlcov/
.idea/
include/
.installed.cfg
*.komodoproject
.komodotools
lib/
local/
*.log
log.html
.mr.developer.cfg
output.xml
parts/*
#!parts/omelette
pip-selfcheck.json
.plone-version
.plone.versioncheck.*
port*/
python-eggs/
pyvenv.cfg
report.html
share/
src/*
!src/imio
var/
.vscode/
